@using TeamProject.Models
@model UserDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ImageURL != null)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div align="center">
                    <img class="thumbnail img-responsive" src="@Model.ImageURL" width="300" height="300">
                </div>
                <div class="media-body">
                    <hr>
                    <h3><strong>Bio</strong></h3>
                    <p>@Model.Bio</p>
                    <hr>
                    <h3><strong>Location</strong></h3>
                    <p>Earth</p>
                    <hr>
                    <h3><strong>Gender</strong></h3>
                    <p>Unknown</p>
                    <hr>
                    <h3><strong>Birthday</strong></h3>
                    <p>@Model.Birthday.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
}

else
{

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div align="center">
                    <img class="thumbnail img-responsive" src="~/Content/icon-person-stalker-128.png" width="300" height="300">
                </div>
                <div class="media-body">
                    <hr>
                    <h3><strong>Bio</strong></h3>
                    <p>@Model.Bio</p>
                    <hr>
                    <h3><strong>Location</strong></h3>
                    <p>Earth</p>
                    <hr>
                    <h3><strong>Gender</strong></h3>
                    <p>Unknown</p>
                    <hr>
                    <h3><strong>Birthday</strong></h3>
                    <p>@Model.Birthday.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
}


@Html.Action("_Conversation", "Home")